@import "style.css";
/* Tablet */
@media screen and (min-width: 1010px) and (max-width: 1190px),
screen and (min-width: 802px) and (max-width: 1009px){

    .search-field{
        border: 1px solid var(--p_800);
        border-radius: 50%;
        height: 37px;
        width: 37px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .search-field input{
        display: none;
    }   
}
@media screen and (min-width:803px) and (max-width: 1009px) {

    .nav{
        padding: 5px 10px;
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
    }
    .nav img{
        margin-bottom: 5px;
        width: 200px;
    } 
}






/* mobile */
@media screen and (max-width: 802px) {
	.navbar{  
        position: absolute;
        top: 75px;
        padding: 10px 0;
        right: -100%;
        transition: 0.3s ease-in-out;
        height: auto;
        flex-direction: column;
        border-radius: 0;
    }
    .search-field{
        margin-top: 20px;
        width: 90%;
        align-self: center;
    }
    .navbar ul{
        flex-direction: column;
        gap: 0;
        margin: 0;
    }
    .navbar ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        width: 100%;
        margin: 0;
    }
    .navbar ul li:hover{
        background: var(--p_900);
    }
    .navbar ul li:hover a{
        box-shadow: none;
        background: none;
        color: var(--op-High-Emphasis);
        font-weight: 900;
    }
    .hamburguer-menu{
        background: initial;
        border: none;
        height: 100%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--p_800);
        cursor: pointer;
        align-self: center;
    }
    .hamburguer-menu:focus{
        border-radius: 50%;
        height: 50px;
        background: var(--p_800);
        color: var(--op-High-Emphasis);
    }
    .nav .hamburguer-menu:focus-within + .navbar{
        right: 0px;
    }
    
    .hamburguer-menu i{
        width: fit-content;
        height: fit-content;
        display: block;
        font-size: 2rem;
    }
    
    
}




/* min-width & max-width */










